* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Pretendard", sans-serif;
  background: linear-gradient(180deg, #7df18e, #00c66c);
  color: #111;
  font-weight: 400; /* 기본 regular */
  overflow-x:hidden;
}